<footer class="container pt-3 ">
    <div class="color-header rt-5 pt-2 text-center">
        <a class="text-white">Hotel El Alamo Copyright © 2019 - Todos Los Derechos Reservados.</a>
        
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" src="http://localhost/profesional/Resource/js/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="http://localhost/profesional/Resource/js/toastr.min.js"></script>
    <script type="text/javascript" src="http://localhost/profesional/Resource/js/Cliente.js"></script>
    <script type="text/javascript" src="http://localhost/profesional/Resource/js/app.js"></script>
    <script type="text/javascript" src="http://localhost/profesional/Resource/js/config.js"></script>
    <script type="text/javascript" src="http://localhost/profesional/Resource/js/funciones.js"></script>
</body>
<!-- Fin de Cuerpo -->

</html>