<header id="header">

    <div class="container border">
        <nav class="navbar-expand-lg navbar navbar-light sticky-top" style="background-color: #ffffff;">
            <a class="navbar-brand" href="#">
                <img src="http://localhost/profesional/Resource/images/logo.png" width="200" height="60" alt="">

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse mr-5" id="navbarSupportedContent">

                <ul class="nav navbar-nav mx-auto">

                  

                    <li class="nav-item border-right border-dark mr-2 ">
                        <a class="nav-link text-dark" href="http://localhost/profesional/Principal/principalRecep">Panel de Recepcionista</a>
                    </li>
                   
                </ul>

                <ul class="nav navbar-nav mx-auto">
                    <li class="mr-4">
                            <span id="name2"></span>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle color2" type="button" id="dropdownMenu2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Gestion
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <a class="dropdown-item" href="http://localhost/profesional/Cliente/destroySession"
                                    onclick="sessionCLoseRecep();">Cerrar sesión</a>

                            </div>
                        </div>
                    </li>


                </ul>

            </div>
        </nav>
    </div>

</header>