.navbar {
    background: #222222;
  }

  nav.navbar {
    background-color: #ffffff;
  }
  div.color-header {
    background-color: #294f96;
  }
  div.color-2 {
    background-color: #294f96;
  }
  div.color-4{
    background-color: #8dd7f7;
  }
  div.color-5{
    background-color: #d2e69c;
  }
  div.color-6{
  background-color: #f58220;
  }
  .fuent { color: #294f96; }
  .nav-item::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background: black;
    transition: 0.2s;
  }
  .nav-item:hover::after {
    width: 100%;
  }
  .navbar-dark .navbar-nav .active > .nav-link,
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link.show,
  .navbar-dark .navbar-nav .show > .nav-link,
  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #f0eee8;
  }
  
  .dropdown-item.active,
  .dropdown-item:active {
    color: #294f96;
  }
  .dropdown-item:focus,
  .dropdown-item:hover {
    background: #294f96;
    color: #fff;
  }
.color2{
  background:#294f96;
}
  .ir-arriba {
	display:none;
	padding:20px;
	background:#294f96;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}
body  { 
  font-family : "Helvetica Neue" , Helvetica , Arial , sans-serif ; 
}

.fuentes{
  font-family : "Helvetica Neue" , Helvetica , Arial , sans-serif ;
}
.quitar{list-style:none;}